[MASTER]

#disable=coerce-method,import-star-module-level,basestring-builtin,old-ne-operator,raising-string,apply-builtin,unicode-builtin,buffer-builtin,delslice-method,input-builtin,xrange-builtin,round-builtin,hex-method,using-cmp-argument,standarderror-builtin,print-statement,unichr-builtin,cmp-builtin,map-builtin-not-iterating,oct-method,filter-builtin-not-iterating,parameter-unpacking,old-raise-syntax,backtick,old-octal-literal,suppressed-message,long-builtin,unpacking-in-except,metaclass-assignment,no-absolute-import,execfile-builtin,nonzero-method,missing-docstring,long-suffix,raw_input-builtin,old-division,getslice-method,indexing-exception,next-method-called,dict-iter-method,reload-builtin,coerce-builtin,dict-view-method,cmp-method,setslice-method,range-builtin-not-iterating,useless-suppression,zip-builtin-not-iterating,intern-builtin,file-builtin,reduce-builtin
disable=invalid-name,missing-docstring

[BASIC]

#bad-functions=map,filter
#good-names=i,j,k,ex,Run,_
#bad-names=foo,bar,baz,toto,tutu,tata
#name-group=
#include-naming-hint=no
#method-rgx=[a-z_][a-z0-9_]{2,30}$
#method-name-hint=[a-z_][a-z0-9_]{2,30}$
#attr-rgx=[a-z_][a-z0-9_]{2,30}$
#attr-name-hint=[a-z_][a-z0-9_]{2,30}$
#module-rgx=(([a-z_][a-z0-9_]*)|([A-Z][a-zA-Z0-9]+))$
#module-name-hint=(([a-z_][a-z0-9_]*)|([A-Z][a-zA-Z0-9]+))$
#argument-rgx=[a-z_][a-z0-9_]{2,30}$
#argument-name-hint=[a-z_][a-z0-9_]{2,30}$
#class-attribute-rgx=([A-Za-z_][A-Za-z0-9_]{2,30}|(__.*__))$
#class-attribute-name-hint=([A-Za-z_][A-Za-z0-9_]{2,30}|(__.*__))$
#class-rgx=[A-Z_][a-zA-Z0-9]+$
#class-name-hint=[A-Z_][a-zA-Z0-9]+$
#const-rgx=(([A-Z_][A-Z0-9_]*)|(__.*__))$
#const-name-hint=(([A-Z_][A-Z0-9_]*)|(__.*__))$
#variable-rgx=[a-z_][a-z0-9_]{2,30}$
#variable-name-hint=[a-z_][a-z0-9_]{2,30}$
#inlinevar-rgx=[A-Za-z_][A-Za-z0-9_]*$
#inlinevar-name-hint=[A-Za-z_][A-Za-z0-9_]*$
#function-rgx=[a-z_][a-z0-9_]{2,30}$
#function-name-hint=[a-z_][a-z0-9_]{2,30}$
#no-docstring-rgx=^_
#docstring-min-length=-1
